*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
.main{
	width: 500px;
	margin: auto;
	display: flex;
	display: -webkit-flex;
	flex-flow: column wrap;
}
.top{
	height: 20%;
	width: 100%;
	background-color: #F54866;
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}
.topone{
	font-size: 1.5em;color: white;margin-left: 100px;align-self: center;
}
.toptwo{
	font-size: 2em;color: white; margin: auto;
}
.topthree{
	margin-right: 100px; align-self: center;
}
.ttimg{
	opacity: .5;width: 70px
}
.center{
	display:flex ;
	display: -webkit-flex;
	flex-flow: column nowrap;
}
.centerone{
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
}
.cpimg{
	width: 60px
}
.centeroneone{
	display: flex;
	display: -webkit-flex;
	flex-flow: column nowrap;
	width: 100%;
}
.statutop{
	align-self: flex-end;color:white;font-size: 1em;line-height: 60px;padding-left: 2px;
}
.statutopdiv{
	background-color: gray;height: 40px;width: 10%
}
.centeronetwo{
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	width: 100%;
}
.centerfont{
	font-size: 1em;color: gray
}
.centershoplist{
	font-size: 1em;color: gray;
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}
.centerpic{
	width: 100px;
	height: 126px;
}
.floor{
	height: 20%;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.floorpic{
	margin-right: 50px;font-size: 1em;
}
.centerplaydiv{
	display:flex;display: -webkit-flex;
	flex-flow: row nowrap;
	align-self: flex-end;background-color: #F65162;color: white;font-size: 1.5em;height: 31px;width: 80px;
}
.fdimg{
	width:60px;
}
