*{
	margin: 0;
	padding: 0;
	font-family: 微软雅黑;
}
html{
	height: 100%;
}
.main{
	width: 500px;
	height: 690px;
	margin: auto;
	display: flex;
	display: -webkit-flex;
	flex-flow: column nowrap;
}
.top{
	display: flex;
	display: -webkit-flex;
	flex-flow: column nowrap;
	height: 30%;
	background-color:#D43F5D;
}
.one{
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	
}
.two{
	margin-top: 15px;
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	justify-content: center;
}
.center{
	height: 40%;
}
.shopsdiv{
	margin-right: 2px;
}
.shopsimg{
	height: 100px;width: 90px;
}
.shopsdivone{
	width:73px;display: flex;display: -webkit-flex;flex-flow: column nowrap;
}
.shopdivspanone{
	font-size: 0.7em;
}
.shopsdivspantwo{
	font-size: 0.3em;color: darkgrey
}
.shopsdivtwo{
	margin-top: 10px
}
.shopsdivtwospan{
	font-size: 1em;color: red
}
.shopsdivthreespan{
	font-size: 0.1em;color: darkgrey;
}
.cone{
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	justify-content: center;
}
.floor{
	height: 30%;
	display: flex;
	display:-webkit-flex;
	flex-flow: row nowrap;
	justify-content: center;
	background-color: darkgray;
	opacity: 0.5;
	z-index: -1;
}
.nn{
	display: none;
}
.sub{
	height:20px;width:20px;border-radius: 10px;
}
.plus{
	height:20px;width:20px;border-radius: 10px;
}
.shopcarpic{
	margin-right: 20px;
}
.shopcarimg{
	width: 100px;
}
.shopcarinfo{
	display: flex;display: -webkit-flex;flex-flow: row nowrap;margin: auto;
}
.toshopcar{
padding-left: 10px;line-height: 75px;text-align:center;font-size: 1.5em;color: white;cursor: pointer;
}
.toshopcardiv{
	width:150px;margin-left: 20px;height: 80px;background-color:#F24268;
}
.floor1{
	display: flex;
	display:-webkit-flex;
	flex-flow: row nowrap;
	justify-content: center;
	background-color: darkgray;
	opacity: 0.5;
	z-index: -1;
}

.procutcountdiv{
	height: 20px;width: 20px;margin-left: 14px;margin-top: 6px;
}
.supplusdiv{
	display: flex;display: -webkit-flex;flex-flow:row nowrap;align-self: flex-start;padding-bottom: 20px;margin-top: 50px
}