<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shigan.mapper.UserMapper">
        <resultMap id="userMap" type="user">
            <id property="id" column="id"></id>
            <result property="phoneNumber" column="phone_number"></result>
            <result property="nickname" column="nickname"></result>
            <result property="name" column="name"></result>
            <result property="city" column="city"></result>
            <result property="community" column="community"></result>
            <result property="address" column="address"></result>
            <result property="password" column="password"></result>
            <result property="communityid" column="communityid"></result>
        </resultMap>

    <!--广告-->
        <resultMap id="adMap" type="ad">
            <id property="id" column="id"></id>
            <result property="adname" column="adname"></result>
            <result property="adlocationid" column="adlocationid"></result>
            <result property="url" column="url"></result>
            <result property="path" column="path"></result>
        </resultMap>



    <!--城市与小区-->
        <resultMap id="ccMap" type="cityCommunity">
            <id property="id" column="id"></id>
            <result property="cityName" column="city_name"></result>
            <result property="parentId" column="parent_id"></result>
            <result property="community" column="community"></result>
            <result property="cityid" column="cityid"></result>
        </resultMap>


    <!--功能列表-->
    <resultMap id="limitMap" type="limit">
        <id property="id" column="id"></id>
        <result property="limitname" column="limitname"></result>
        <result property="path" column="path"></result>
        <result property="url" column="url"></result>
    </resultMap>


    <insert id="register">
        insert into user (
        phone_number,
        nickname,
        name,
        city,
        community,
        address,
        password,
        communityid)
         VALUES (
            #{phoneNumber},
           #{nickname},
             #{name},
            #{city},
           #{community},
           #{address},
           #{password},
           #{communityid}
        )
    </insert>

    <!--查找账号密码正确的用户-->
    <select id="getOne" parameterType="user" resultMap="userMap">
        select * from user where phone_number=#{phoneNumber} and password=#{password};
    </select>

    <!--查找是否存在手机号-->
    <select id="getPhoneNumber" parameterType="user" resultMap="userMap">
        select phone_number from user where phone_number=#{phoneNumber}
</select>

    <update id="modify" parameterType="user">
      update user set password=#{password} where phone_number=#{phoneNumber}
    </update>


    <!--查找广告位-->
    <select id="getAdByAdId" parameterType="ad" resultMap="adMap">
        select * from ad where adlocationid=#{adlocationid}
    </select>


    <!--查城市-->
    <select id="getCtiys" resultMap="ccMap">
        select DISTINCT city_name,cityid from city
    </select>

    <!--根据城市id查找小区-->
    <select id="getCommunityByCityId" parameterType="cityCommunity" resultMap="ccMap">

        select id, community from city where parent_id=#{parentId};
    </select>


    <!--查小区-->
    <select id="getCommunity" resultMap="ccMap">
        select id,  community ,parent_id from city where parent_id is not null
    </select>

    <!--查询所有功能-->
    <select id="getLimits" resultMap="limitMap">
        SELECT * from limitfunction
    </select>

</mapper>