*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
.main{
	display: flex;
	display: -webkit-flex;
	flex-flow: column wrap;
}
.top{
	height: 200px;
	width: 100%;
	background-color: #F54866;
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}
.title{
	height: 250px;
	width: 100%;
}
.channel{
	height: 500px;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
.business{
	height: 600px;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: center;
}
.floor{
	height: 200px;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
