*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
.main{
	margin: auto;
	width: 500px;
	height: 690px;
	display: flex;
	display: -webkit-flex;
	flex-flow: column wrap;
}
.top{
	height: 60px;
	width: 100%;
	background-color: #F54866;
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}
.title{
	height: 250px;
	width: 700px;
}
.channel{
	height: 150px;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
.cpic{
	width: 60px
}
.business{
	height: 200px;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: center;
}
.businessone{
	border: gray 1px solid;flex-flow:column nowrap;width: 200px;height: 190px;margin-right: 40px;
}
.wfont{
	font-size: 1.5em;color: #92BDFF;margin-top: 15px;margin-left: 10px;
}
.wfont2{
	color: gray;margin-top: 15px;margin-left: 10px;
}
.businessright{
	display: flex;display: -webkit-flex;flex-flow: column nowrap;
}
.yetoudiv{
	border: gray 1px solid;margin-top: 3px;width: 200px;
}
.yetoudiv1{
	display: flex;display: -webkit-flex;flex-flow:column nowrap;justify-content: flex-start;height: 55px
}
.yetoufont1{
	color: gray;margin-left: 5px;
}
.pci{
	width: 20px;height: 20px
}
.yetoufont2{
	display: flex;display: -webkit-flex;justify-content: flex-end;
}
.yetoupic{
	display: flex;display: -webkit-flex;justify-content: flex-end;
}
.fontrigth{
	font-size: 1em;color: #F377D7;margin-top: 15px;margin-left: 10px;;width: 150px
}
.floor{
	height: 100px;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.floorpic{
	width: 60px;height: 60px
}
.floordiv{
	margin-right: 60px
}
