<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="/css/firstPage.css" />
</head>
<body>
<div class="main">

    <div class="top">
        <a href="/user/goRegister">注册</a>
    </div>



    <div class="title"></div>



    <div class="channel">
        <div style="border-radius: 50px;background-color: cyan;height: 100px;width: 100px;margin-left: 30px;"></div>

    </div>



    <div class="business">
        <div style="background-color: red;margin-right: 50px;font-size: 2em;">物业工作展示</div>
        <div style="display: flex;display: -webkit-flex;flex-flow: column nowrap;">
            <div style="background-color: #F54866;margin-top: 20px;">业主投票</div>
            <div style="background-color: blanchedalmond;margin-top: 20px;">小区公告</div>
            <div style="background-color: cyan;margin-top: 20px;">物业报修</div>
        </div>
    </div>


    <div class="floor">
        <div style="background-color: red;margin-right: 50px;font-size: 2em;">主页</div>
        <div style="background-color: black;margin-right: 50px;font-size: 2em;">订单</div>
        <div style="background-color: blue;margin-right: 50px;font-size: 2em;">我的</div>
        <div style="background-color: yellow;font-size: 2em;">更多</div>
    </div>



</div>
</body>
</html>