<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>注册页</title>
    <link rel="stylesheet" href="/css/register.css" />
</head>
<body>
<div class="main">
    <form>
    <div>手机号码<input type="text" name="phoneNumber" id="phoneNumber" onblur="vaphoneNumber()"></input>*</div>
    <div>昵称<input type="text" name="nickname" id="nickname"></input></div>
    <div>实名<input type="text" name="name" id="name"></input>*</div>
    <div>所在城市<select><option>城市</option></select>
        所在小区<select><option>小区</option></select>
    </div>
    <div>详细地址<input type="text" name="address" id="address"></input>*</div>
    <div>登陆密码<input type="text" name="password" id="password"></input>*</div>
    <div>确认密码<input type="text" id="repassword"></input>*</div>
    <div>验证码<input type="text" id="validata"></input>
        <a href="#">获取验证码</a>
    </div>
    <div><a href="#" style="font-size: 2em">提交</a></div>
        <input type="hidden" name="city" value=""></input>
        <input type="hidden" name="community" value=""></input>
    </form>
</div>
</body>
<script src="/jquery-3.1.1.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    //验证手机号码的有效性
    function vaphoneNumber(){
        var sMobile = $("#phoneNumber").val();
        if(!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(sMobile)) || sMobile.length!=11){
            alert("不是完整的11位手机号或者不是正确手机号码");
            return false;
        }
    }
    //验证实名必填
    function vaname(){
        var name=$("#name");
        if(name==null || name==""){
            return false;
        }
    }
    //验证城市必选
    function vacity(){

    }
    //验证小区必选
    function vacommunity(){

    }
    //验证地址必填
    function vaaddress(){

    }




   /*]]>
     */
</script>
</html>