<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>注册页</title>
    <link rel="stylesheet" href="/css/register.css" />


    <style>
        *{ margin: 0; padding: 0; }
        img{border:0;}
        ul,li{list-style-type:none;}
        a {color:#F54866;text-decoration:none;}
        a:hover {color:#bd0a01;text-decoration:underline;}
        .treebox{ width: 700px; margin: 0 auto; background-color:#F54866; }
        .menu{ overflow: hidden; border-color: #ddd; border-style: solid ; border-width: 0 1px 1px ; }
        /*第一层*/
        .menu li.level1>a{
            display:block;
            height: 45px;
            line-height: 45px;
            color: #fff;
            padding-left: 50px;
            border-bottom: 1px solid #000;
            font-size: 16px;
            position: relative;
            transition:all .5s ease 0s;
        }
        .menu li.level1 a:hover{ text-decoration: none;background-color:#F54866;   }
        .menu li.level1 a.current{ background:#F54866; }

        /*============修饰图标*/
        .ico{ width: 20px; height: 20px; display:block;   position: absolute; left: 20px; top: 10px; background-repeat: no-repeat; background-image: url(/images/ico1.png); }

        /*============小箭头*/
        .level1 i{ width: 20px; height: 10px; background-image:url(/images/arrow.png); background-repeat: no-repeat; display: block; position: absolute; right: 20px; top: 20px; }
        .level1 i.down{ background-position: 0 -10px; }

        .ico1{ background-position: 0 0; }
        .ico2{ background-position: 0 -20px; }
        .ico3{ background-position: 0 -40px; }
        .ico4{ background-position: 0 -60px; }
        .ico5{ background-position: 0 -80px; }

        /*第二层*/
        .menu li ul{ overflow: hidden; }
        .menu li ul.level2{ display: none;background: #F54866;  }
        .menu li ul.level2 li a{
            display: block;
            height: 45px;
            line-height: 45px;
            color: #fff;
            text-indent: 60px;
            /*border-bottom: 1px solid #ddd; */
            font-size: 14px;
            transition:all 1s ease 0s;
        }
    </style>



</head>
<body>
<div class="main" id="main">
    <div class="top">
        <div style="margin-left: 30px;"><span style="font-size: 2em;color: white;"><a href="javascript:history.go(-1);window.reload()" style="text-decoration: none;cursor: pointer;color: white">&lt;</a></span></div>
        <div style="margin: auto;"><span style="font-size: 2em;color: white;">注册</span></div>
    </div>


        <div style="margin-top: 50px;">
            <span style="font-size: 1.2em;color: floralwhite;margin-top: 50px;">手机号码</span>
            <input type="text" name="phoneNumber" id="phoneNumber" onblur="vaphoneNumber(),testphoneNumber()" style="border: none;background-color: transparent;border-bottom:1px solid white;margin: 5px;height: 40px;font-size: 1.1em"  size="25%"></input>*
            <p id="spanphoneNumber"></p>
            <p id="spanphoneNumber1"></p>
        </div>

        <div style="margin-top: 30px;">
            <span style="font-size: 1.2em;color: floralwhite;margin-top: 50px;">昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称</span>
            <input type="text" name="nickname" id="nickname" style="border: none;background-color: transparent;border-bottom:1px solid white;margin: 5px;height: 40px;font-size: 1.1em"  size="25%"></input></div>

        <div style="margin-top: 30px;">
            <span style="font-size: 1.2em;color: floralwhite;margin-top: 50px;">真实姓名</span>
            <input type="text" name="name" id="name" onblur="vaname()" style="border: none;background-color: transparent;border-bottom:1px solid white;margin: 5px;height: 40px;font-size: 1.1em"  size="25%"></input>*
            <p id="spanname"></p>
        </div>


        <div style="margin-top: 30px;" onclick="select()">
            <span style="font-size: 1.2em;color: floralwhite;margin-top: 50px;">所在小区</span>
            <input  id="showcc"  type="text"  style="border: none;background-color: transparent;border-bottom:1px solid white;margin: 5px;font-size: 25px;color: darkgray;"  size="31%" value="点击选择"  readonly="readonly" ></input>*
            <span id="spancity"></span><span id="spancommunity"></span>
        </div>


        <div style="margin-top: 30px;">
            <span style="font-size: 1.2em;color: floralwhite;margin-top: 50px;">详细地址</span>
            <input type="text" name="address" id="address" onblur="vaaddress()" style="border: none;background-color: transparent;border-bottom:1px solid white;margin: 5px;height: 40px;font-size: 1.1em"  size="25%"></input>*
            <p id="spanaddress"></p>
        </div>


        <div style="margin-top: 30px;">
            <span style="font-size: 1.2em;color: floralwhite;margin-top: 50px;">登录密码</span>
            <input type="password" name="password" id="password" onblur="vapassword()" style="border: none;background-color: transparent;border-bottom:1px solid white;margin: 5px;height: 40px;font-size: 1.1em"  size="25%"></input>*
            <p id="spanpassword"></p></div>


        <div style="margin-top: 30px;">
            <span style="font-size: 1.2em;color: floralwhite;margin-top: 50px;">确认密码</span>
            <input type="password" id="repassword" onblur="varepassword()" style="border: none;background-color: transparent;border-bottom:1px solid white;margin: 5px;height: 40px;font-size: 1.1em"  size="25%"></input>*
            <p id="spanrepassword"></p>
        </div>


        <div style="margin-top: 30px;">
            <span style="font-size: 1.2em;color: floralwhite;margin-top: 50px;">验证码</span>
            <input type="text" id="validata" onblur="vavalidata()" style="border: none;background-color: transparent;border-bottom:1px solid white;margin: 5px;height: 40px;font-size: 1.1em"  size="16px"></input>
            <button id="getNumber" onclick="time(this)" style="background-color: transparent;border: 1px solid floralwhite;border-radius: 25px;margin-top: 20px;width: 150px;margin-left: 60px;">
                <p id="getNumber" style="font-size: 1.7em;color: whitesmoke;">获取验证码</p>
            </button>
            <span id="number"></span><p id="spanvalidata"></p>
        </div>


        <div style="margin-top: 30px;display: flex;display: -webkit-flex;justify-content: center;" onclick="vaphoneNumber(),vaname(),vaaddress(),vapassword(),test()">
            <button style="background-color: transparent;border: 1px solid floralwhite;border-radius: 25px;margin-top: 20px;width: 600px;height: 70px;"><p style="font-size: 2em;color: whitesmoke;">注册</p></button></div>
        <p><p id="spansubmit"></p></p>
        <input type="hidden" name="city" id="city"></input>
        <input type="hidden" name="community" id="community" ></input>
</div>



<div id="selecttt" style="display: none;">

    <div class="treebox">
        <ul class="menu">
            <li class="level1" th:each="city,iterStat:${citys}" >
                <a href="#none" onclick="getct(this)"><em class="ico ico1"></em><span   th:text="${city.cityName}"  th:id="${iterStat.index}"></span><i class="down"></i></a>
                <ul class="level2" >
                    <li onclick="getcc(this)" class="level3" id="cc" th:each="community:${communitys}" th:if="${city.cityid}==${community.parentId}"><a href="javascript:;"><span   th:text="${community.community}"></span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>



</body>

<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/easing.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var flag=true;

    //手风琴样式
    //等待dom元素加载完毕.
    $(function(){

        $(".treebox .level1>a").click(function(){
            $(this).addClass('current')   //给当前元素添加"current"样式
                .find('i').addClass('down')   //小箭头向下样式
                .parent().next().slideDown('slow','easeOutQuad')  //下一个元素显示
                .parent().siblings().children('a').removeClass('current')//父元素的兄弟元素的子元素去除"current"样式
                .find('i').removeClass('down').parent().next().slideUp('slow','easeOutQuad');//隐藏
            return false; //阻止默认时间
        });
    })

    //显示或隐藏选择小区页
    function select(){
        if($("#selecttt").css("display")=="none"){
            $("#selecttt").css("display","block");
            $(".main").hide();
        }

    }

    var ct;
    function getct(t){
        ct=$(t).text();
          $("#city").val(ct)

    }
    function getcc(t){
        var cc=$(t).text()
        $("#showcc").val("城市"+ct+"小区"+cc)
        $("#community").val(cc);
        $(".main").show();
        $("#selecttt").css("display","none");
    }



    //验证手机号码的有效性
    function vaphoneNumber(){
        var sMobile = $("#phoneNumber").val();
        if(!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(sMobile)) || sMobile.length!=11){
            $("#spanphoneNumber").text("不是完整的11位手机号或者不是正确手机号码")
            flag=false;
        }else{
            $("#spanphoneNumber").text("")
            flag=true;
        }
    }


    //查看手机号是否存在
    function testphoneNumber(){
        var phoneNumber=$("#phoneNumber").val();
        $.ajax({
            url:"/user/vaphonenumber",
            type:"post",
            data:{phoneNumber:phoneNumber},
            success:function (data) {
                if(data=="have"){
                    $("#spanphoneNumber1").text("手机已经存在")
                    flag=false;
                }else{
                    $("#spanphoneNumber1").text("")
                    flag=true;
                }
            }
        })
    }


    //验证实名必填
    function vaname(){
        var name=$("#name").val();
        if(name==null || name==""){
            $("#spanname").text("实名不能为空");
            flag=false;
        }else{
            $("#spanname").text("")
            flag=true;
        }
    }
    //验证地址必填
    function vaaddress(){
        var address=$("#address").val();
        if(address==null || address==""){
            $("#spanaddress").text("地址不能为空");
            flag=false;
        }else{
            $("#spanaddress").text("");
            flag=true;
        }
    }
    //验证密码必填
    function vapassword(){
        var password=$("#password").val();
        if(password==null || password==""){
            $("#spanpassword").text("密码不能为空");
            flag=false;
        }else{
            $("#spanpassword").text("");
            flag=true;
        }
    }
    //验证确认密码必填
    function varepassword(){
        var password=$("#password").val();
        var repassword=$("#repassword").val();
        if(repassword==null || repassword==""){
            $("#spanrepassword").text("确认密码不能为空");
            flag=false;
        }else{
            if(password===repassword){
                $("#spanrepassword").text("密码可用")
                flag=true;
            }else{
                $("#spanrepassword").text("两次密码不一致");
                flag=false;
            }
        }
    }



    //获得随机验证码
    var wait=0;
    var number;
    function time(o) {
        if (wait == 0) {
            var ran=Math.random()*9999+1000;
            number=parseInt(ran);
            $("#number").text(number);
            wait = 60;
            o.setAttribute("disabled", true);
            var interval=setInterval(function() {
                    wait--;
                    $("#getNumber").text("("+wait + "）后重新获取")
                    if(wait==0){
                        o.removeAttribute("disabled");
                        $("#getNumber").text("获取验证码")
                        clearInterval(interval);
                    }
                },
                1000)
        }

    }

    //验证码是否正确
    function vavalidata(){
        var validata=$("#validata").val();
        if(validata==null ||validata==""){
            $("#spanvalidata").text("请输入验证码");
            flag=false;
        }else{
            if(validata==number){
                $("#spanvalidata").text("验证码正确");
                flag=true;
            }else{
                $("#spanvalidata").text("验证码有误");
                flag=false;
            }
        }
    }


function test() {
    if(flag){
        submit1();
    }else{
        return false;
    }
}


    function login(phoneNumber,password){
        $.ajax({
                url:"/user/login",
                type:"post",
                data:{phoneNumber:phoneNumber,password:password},
                success:function(data){
                    if(data=="success"){
                        window.location.href="/";
                    }else{
                        alert("账号或密码不正确，请重新登录")
                    }
                },

            }
        )

    }




    //提交
    function submit1(){
        var phoneNumber=$("#phoneNumber").val();
       var nickname= $("#nickname").val();
     var  name =  $("#name").val();
     var  city=   $("#city").val();
      var community = $("#community").val();
      var  address = $("#address").val();
       var password= $("#password").val();

        $.ajax({
            type:"post",
            url:"/user/register",
            data:{phoneNumber:phoneNumber,nickname:nickname,name:name,city:city,community:community,address:address,password:password},
            success: function (data) {
                if(data.success=="success"){
                    alert("注册成功")
                    login(data.phoneNumber,data.password)
                }else{
                }
            }
        })
    }


    /*]]> */
</script>
</html>