<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title></title>
    <style>
        .wrap {
            width:100%; BORDER: #b7c5d9 1px solid;
        }
        .a10 {
            FONT-WEIGHT: bold; COLOR: black;  TEXT-DECORATION: none;
        }
        .a10:hover {
            COLOR: #bb2233; TEXT-DECORATION: underline
        }
        .md-head {
            PADDING-LEFT: 0px;
        }
        .md-head A {
            BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; FLOAT: left; BORDER-BOTTOM-WIDTH: 1px; MARGIN-LEFT: -1px; WIDTH: 50%; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
        }
        .md-head A.wid {
            WIDTH: 50%
        }
        .md-head A.cur {
            BORDER-BOTTOM-WIDTH: 0px; COLOR: black; BACKGROUND-COLOR: white; TEXT-DECORATION: none
        }
        .md-body {
        }
        a,area { blr:e-xpression(this.onFocus=this.blur()) }
        :focus { -moz-outline-style: none; }
    </style>
    <link href="/css/market/index.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/market/supermarket.css" />
    <link rel="stylesheet" href="/css/market/lanrenzhijia.css"/>
</head>
<body>
<div class="main">
    <div class="top">
        <div class="one">
            <div style="width: 100%;margin-left: 10px;"><span style="font-size: 3em;color: white;">&lt;</span></div>
            <div style="margin-right: 10px;"><img src="/img/supermarket/search.png"/></div>
        </div>
        <div class="two">
            <div><a th:href="@{/}"><img src="/img/supermarket/LOG.png"/></a></div>
            <div style="margin-left: 15px;">
                <div style="margin-top: 30px;"><span style="font-size: 2em;color: white;" th:text="${session.user.community}">香榭水岸</span></div>
                <div><span style="font-size: 2em;color: white;">社区超市</span></div>
            </div>
        </div>
        <div class="three">
            <div align="center" style="color: white;width: 100%;"><hr style="border: white 1px dotted;"/></div>
            <div align="center" style="margin-top: 5px;"><span style="color: white;">宜选宜买宜便宜，购好购真购实惠</span></div>
        </div>
    </div>

    <div class="center">
        <DIV class="wrap" id="divspacerank">
            <DIV class="md-head" id="blogs_spacerank">
                <A class="a10 wrap cur wid" id="blogs_spacerank_tab_0" hideFocus="" onClick="blogs_spacerank_ck(0);return false;" href="javascript:;">商品</A>
                <A class="a10 wrap" id="blogs_spacerank_tab_1" hideFocus="" onClick="blogs_spacerank_ck(1);return false;" href="javascript:;">评价</A>
                <BR class="clear"/>
            </DIV>
            <DIV class="md-body" style="margin-top: 0px;">
                <DIV id="blogs_spacerank_0" >
                    <div class="i_zxme">
                        <div class="i_zxmel">
                            <!--左侧分类处-->
                            <div class="i_zxmelc">
                                <div class="i_zxmelc1">
                                    <ul>
                                        <span th:each="category,iterStat:${categorys}">
                                            <li th:id="'two'+${iterStat.count}" onclick="change(this)" th:value="${iterStat.count}"  class="hover">
                                                <span th:text="${category.categoryname}"></span>
                                            </li>
                                        </span>
                                    </ul>
                                </div>
                                <!--i_zxmelc1-->

                                <div class="i_zxmelc3">
                                    <span th:each="category,iterStat:${categorys}">
                                             <div th:id="'con_two_'+${iterStat.count}" style="display: none;">
                                            <div class="i_zxmelc3d">
                                                <span th:each="product:${category.products}">
                                                <div class="shops">
                                                    <!--商品详情处-->
                                                        <div class="shopsdiv"><img class="shopsimg" th:src="${product.path}"/></div>
                                                        <div class="shopsdivone">
                                                            <input th:id="'productid'+${iterStat.count}+${product.productname}" type="hidden" th:value="${product.id}"/>
                                                            <div><span class="shopdivspanone" th:text="${product.productname}"></span></div>
                                                            <div><span class="shopsdivspantwo" th:text="${product.description}"></span></div>
                                                            <div class="shopsdivtwo"><span class="shopsdivtwospan" th:text="'￥'+${product.price}"></span></div>
                                                            <div ><span  class="shopsdivthreespan" th:text="'库存:'+${product.store}"></span></div>
                                                            <input th:id="'storewarning'+${iterStat.count}+${product.productname}" type="hidden" th:value="${product.storewarning}"/>
                                                            <input type="hidden" th:id="'store'+${iterStat.count}+${product.productname}" th:value="${product.store}"/>
                                                        </div>
                                                    <!--加减图标处-->
                                                        <div class="supplusdiv">
                                                                <div th:id="${iterStat.count}+${product.productname}" onclick="sub(this)" class="sub"><img  src="/img/supermarket/1.png"/></div>
                                                                <input type="hidden" th:id="'price'+${iterStat.count}+${product.productname}" th:value="${product.price}"/>
                                                                <div class="procutcountdiv">
                                                                    <span name="shownum" th:id="'shownum'+${iterStat.count}+${product.productname}" th:text="${product.productcount}">0</span>
                                                                </div>
                                                                <div th:id="${iterStat.count}+${product.productname}" onclick="plus(this)" class="plus"><img  src="/img/supermarket/2.png"/></div>
                                                        </div>

                                                </div>
                                                </span>

                                            </div>
                                        </div>
                                    </span>
                                    <!--con_one5_1-->
                                </div>
                                <!--i_zxmelc3-->
                            </div>
                            <!--i_zxmelc-->
                        </div>
                        <!--i_zxmel-->
                    </div>
                    <!--i_zxme全局-->
                    <!--前往购物车处-->
                    <div class="floor">
                        <div class="shopcarpic"><img class="shopcarimg" src="/img/supermarket/购物车.png"/></div>
                        <div class="shopcarinfo">
                            <div>
                                <p  style="font-size: 2em;color: white"><span>￥</span><span id="smallcount" th:text="${shopcar.totalprice}"></span></p>
                                <p  style="font-size: 0.7em;color: white"><span>当前购物车有</span><span id="count" th:text="${shopcar.shopcaritemscount}"></span><span >件商品</span></p>
                            </div>
                            <div onclick="shopcar()" class="toshopcardiv"><span class="toshopcar">前往购物车</span></div>
                        </div>
                    </div>
                </DIV>
                <DIV id="blogs_spacerank_1" style="DISPLAY: none;">
                    <table name="tbb" border="0" width="100%" th:each="discuss,iterstatu:${discuss}">
                        <tr>
                            <th rowspan="3" width="150px"><img style="width: 100px" src="/img/supermarket/头像.png"/></th>
                            <th align="left" th:text="${discuss.name}" >名字</th>
                            <th align="right" th:text="${discuss.createtime}">评论时间</th>
                        </tr>
                        <tr>
                            <th colspan="2" align="left" th:text="${discuss.content}">评论内容</th>
                        </tr>
                        <input type="hidden" th:id="'img'+${iterstatu.index}" th:value="${discuss.path}"/>
                        <tr th:id="'tabtr'+${iterstatu.index}"></tr>
                    </table>
                </DIV>
            </DIV>
        </DIV>
    </div>
</div>

</body>
<script src="/jquery-3.1.1.min.js"></script>
<script src="/js/jquery.imgbox.pack.js"></script>
<script src="/js/market.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function(){
       var tbb= $("[name='tbb']");
       for(var i=0;i<tbb.length;i++){
          var img= $("#img"+i).val();
          var imgs=img.split(",");
          var html=$("#tabtr"+i).html();
          for(var j=0;j<imgs.length;j++){
            html=html+"<a onclick='showpic(this)' href='"+imgs[j]+"'>"+
                "<img  style='width: 100px' src='"+imgs[j]+"' />"
          }
           $("#tabtr"+i).html(html);
       }

    })


    function showpic(t){
        $(t).imgbox({
            'speedIn'	: 0,
            'speedOut'	: 0,
            'alignment': 'center',
            'overlayShow': true,
            'allowMultiple': false
        });
    }


    //小计
    var smallcount=parseFloat($("#smallcount").text());
    //单个商品数量
    var number;
    //点减号触发的函数
    function sub(t){
        var id=$(t).attr("id");
        var price=parseFloat($("#price"+id).val());
        var productid=$("#productid"+id).val();
        var storewarning=$("#storewarning"+id).val();
        var store=$("#store"+id).val();
        snumber=$("#shownum"+id).text();
        number=parseInt(snumber);
        if(parseInt(store)<=parseInt(storewarning)){
            alert("商品库存不够,请选购其他商品");
        }else{
            if(number>0){
                number=number-1;
                smallcount=smallcount-price;
                $("#shownum"+id).text(number);
                getproductid(productid,number);
            }else{
                number=0;
                if(smallcount<=0){
                    smallcount=0
                }else{
                    if(number==0){
                        smallcount=smallcount-0;
                    }else{
                        smallcount=smallcount-price
                    }
                }
                    $("#shownum"+id).text(number);
            }
            $("#smallcount").text(smallcount.toFixed(1))
            count();
        }

    }
    //点加号实现的方法
    function plus(t){
        var p;
        var id=$(t).attr("id");
        snumber=$("#shownum"+id).text();
        var price=parseFloat($("#price"+id).val());
        var productid=$("#productid"+id).val();
        var storewarning=$("#storewarning"+id).val();
        var store=$("#store"+id).val();
        number=parseInt(snumber);
        if(parseInt(store)<=parseInt(storewarning)){
            alert("商品库存不够,请选购其他商品");
        }else{
            if(number>=10){
                number=10;
                $("#shownum"+id).text(number);
                getproductid(productid,number);
                alert("一次不能超过十件")
            }else{
                number=number+1;
                smallcount=smallcount+price;
                $("#shownum"+id).text(number);
                getproductid(productid,number);
            }
            $("#smallcount").text(smallcount.toFixed(1))
            count();
        }
    }


    function count(){
        var count=0;
        var shownum=$("[name='shownum']");
        for(var i=0;i<shownum.length;i++){
            var t=$(shownum[i]).text()
            if(parseInt(t)>0){
                count=count+1
            }
        }
        $("#count").text(count)
    }
    var getproductids=new Array();

    //获得商品id与购买数量放入getproductids数组中
    function getproductid(p,n){
        var json={productid:0,productcount:0}
        if(n==0){
            for(var i=0;i<getproductids.length;i++){
                if(p==getproductids[i].productid){
                    getproductids.splice(i,1);
                    break;
                }
            }
        }else{
            if(getproductids.length>0){
                var flagp=0;
                var flagc=0;
                //看数组里是否有相同的procuctid
                for(var i=0;i<getproductids.length;i++){
                    if(p==getproductids[i].productid){
                        getproductids[i].productcount=n;
                        flagp=1;
                        break;
                    }
                }

                if(flagp==0){
                    json['productid']=p;
                    json['productcount']=n;
                    getproductids.push(json);
                }
            }else{
                json['productid']=p;
                json['productcount']=n;
                getproductids.push(json);
            }

        }
    }


    //点击购物车按钮获得商品数据
    function shopcar(){
        var cccc=$("#count").text();
        if(parseInt(cccc)==0){
            alert("购物车为空，请选择商品")
            return false;
        }
        var jj=JSON.stringify(getproductids);
        $.ajax({
            url:"/market/shopcaritems",
            data:jj,
            type:"post",
            contentType:"application/json",
            success:function(data){
                var html="";
                for(var i=0;i<data.shopcar.shopcaritems.length;i++){
                    html= html+ "<div class='supplusdiv'  id='supplusdiv"+i+"'>"+
                            "<div><span>"+data.shopcar.shopcaritems[i].productname+"</span></div>"+
                            "<input id='oproductid"+i+"' type='hidden' value='"+data.shopcar.shopcaritems[i].productid+"'>"+
                            "<input id='id"+i+"' type='hidden' value='"+data.shopcar.shopcaritems[i].id+"'>"+
                            "<div><span id='oproducttotalprice"+i+"'>"+data.shopcar.shopcaritems[i].producttotalprice+"</span></div>"+
                            "<input id='oldtotalprice"+i+"' type='hidden' value='"+data.shopcar.shopcaritems[i].producttotalprice+"'>"+
                            "<div onclick='osub(this)'   id="+i+"><span class='sub'><img  src='/img/supermarket/1.png'/></span></div>"+
                            "<div class='procutcountdiv'>"+
                                "<span id='oproductcount"+i+"'>"+data.shopcar.shopcaritems[i].productcount+"</span>"+
                            "</div>"+
                            "<div onclick='oplus(this)' id="+i+"><span class='plus' ><img  src='/img/supermarket/2.png'/></span></div>"+
                            "</div>"
                }
                html=html+
                        "<div class='floor1'>"+
                            "<div class='shopcarinfo'>"+
                                "<div class='shopcarpic'><img class='shopcarimg' src='/img/supermarket/购物车.png'/></div>"+
                                "<div>"+
                                    "<p  style='font-size: 2em;color: white'><span>￥</span><span id='osmallcount'>"+data.shopcar.totalprice+"</span></p>"+
                                    "<p  style='font-size: 0.7em;color: white'><span>当前购物车有</span><span id='ocount'>"+data.shopcar.shopcaritems.length+"</span><span >件商品</span></p>"+
                                "</div>"+
                                "<div onclick='toorder()'  class='toshopcardiv'><span class='toshopcar'>结算订单</span></div>"+
                            "</div>"
                        "</div>"
                $(".center").html(html)
            },
            dataType:"json",

        })

    }

    var totalprice;
    var count;
    //购物车页面减号
    function osub(t){
        count=$("#ocount").text();
        totalprice=$("#osmallcount").text();
        var i=$(t).attr("id")
       var oproductcount= $("#oproductcount"+i).text();
        var oproducttotalprice=$("#oproducttotalprice"+i).text();
        var oldprice=$("#oldtotalprice"+i).val();
        var productid=$("#oproductid"+i).val();
        var id=$("#id"+i).val();
        price=oproducttotalprice/oproductcount;
            oproductcount=oproductcount-1
            $("#oproductcount"+i).text(oproductcount);
            $("#oproducttotalprice"+i).text((oproductcount*price).toFixed(1));
            totalprice=totalprice-price;
            $.ajax({
                url:"/market/uproducttotal",
                data:{productid:productid,totalprice:totalprice,productcount:oproductcount},
                type:"post",
                success:function(data){
                    if(data=="success"){
                        alert("success")
                    }
                }
            })
        $("#osmallcount").text(totalprice.toFixed(1));
            if(oproductcount==0){
                $("#oproductcount"+i).text(0);
                $("#oproducttotalprice"+i).text(0);
                $("#supplusdiv"+i).removeClass("supplusdiv");
                $("#supplusdiv"+i).addClass("nn");
                count=count-1;
                $("#ocount").text(count);
                $.ajax({
                    url:"/market/deleteshopcaritems",
                    data:{productid:productid,oldprice:oldprice,id:id},
                    type:"post",
                    success:function(data){
                        return true;
                    }
                })
        }

    }


    //购物车页面加号
    function oplus(t){
        totalprice=$("#osmallcount").text();
        var i=$(t).attr("id")
        var productid=$("#oproductid"+i).val();
        var oproductcount= $("#oproductcount"+i).text();
        var oproducttotalprice=$("#oproducttotalprice"+i).text();
        price=oproducttotalprice/oproductcount;
        if(oproductcount>=10){
            alert("一次不能超过十个")
            $("#oproductcount"+i).text(10);
            $("#oproducttotalprice"+i).text(10*price);
            totalprice=10*price;
            oproductcount=10;
            $.ajax({
                url:"/market/uproducttotal",
                data:{productid:productid,totalprice:totalprice,productcount:oproductcount},
                type:"post",
                success:function(data){
                    if(data=="success"){
                        alert("success")
                    }
                }
            })
        }else{
            oproductcount=parseInt(oproductcount)+1;
            $("#oproductcount"+i).text(oproductcount);
            $("#oproducttotalprice"+i).text(oproductcount*price);
            totalprice=parseFloat(totalprice)+parseFloat(price);
            $("#osmallcount").text(totalprice.toFixed(1));
            totalprice=totalprice.toFixed(1);
            $.ajax({
                url:"/market/uproducttotal",
                data:{productid:productid,totalprice:totalprice,productcount:oproductcount},
                type:"post",
                success:function(data){
                    if(data=="success"){
                        alert("success")
                    }
                }
            })
        }
    }

    function toorder(){
        debugger
        var smallcount=$("#ocount").text();
        if(parseInt(smallcount)==0){
            alert("购物车为空，请选择商品");
            return false;
        }else{
            window.location.href="/market/toorder"
        }

    }
    /*]]>*/
</script>
</html>
