<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title></title>
    <style>
        .wrap {
            width:100%; BORDER: #b7c5d9 1px solid;
        }
        .a10 {
            FONT-WEIGHT: bold; COLOR: black;  TEXT-DECORATION: none;
        }
        .a10:hover {
            COLOR: #bb2233; TEXT-DECORATION: underline
        }
        .md-head {
            PADDING-LEFT: 0px;
        }
        .md-head A {
            BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; FLOAT: left; BORDER-BOTTOM-WIDTH: 1px; MARGIN-LEFT: -1px; WIDTH: 50%; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
        }
        .md-head A.wid {
            WIDTH: 50%
        }
        .md-head A.cur {
            BORDER-BOTTOM-WIDTH: 0px; COLOR: black; BACKGROUND-COLOR: white; TEXT-DECORATION: none
        }
        .md-body {
        }
        a,area { blr:e-xpression(this.onFocus=this.blur()) }
        :focus { -moz-outline-style: none; }
    </style>
    <link href="/css/market/index.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/market/supermarket.css" />
</head>
<body>
<div class="main">
    <div class="top">
        <div class="one">
            <div style="width: 100%;margin-left: 10px;"><span style="font-size: 3em;color: white;">&lt;</span></div>
            <div style="margin-right: 10px;"><img src="/img/supermarket/search.png"/></div>
        </div>
        <div class="two">
            <div><img src="/img/supermarket/LOG.png"/></div>
            <div style="margin-left: 15px;">
                <div style="margin-top: 30px;"><span style="font-size: 2em;color: white;">香榭水岸</span></div>
                <div><span style="font-size: 2em;color: white;">社区超市</span></div>
            </div>
        </div>
        <div class="three">
            <div align="center" style="color: white;width: 100%;"><hr style="border: white 1px dotted;"/></div>
            <div align="center" style="margin-top: 5px;"><span style="color: white;">宜选宜买宜便宜，购好购真购实惠</span></div>
        </div>
    </div>

    <div class="center">
        <DIV class="wrap" id="divspacerank">
            <DIV class="md-head" id="blogs_spacerank">
                <A class="a10 wrap cur wid" id="blogs_spacerank_tab_0" hideFocus="" onClick="blogs_spacerank_ck(0);return false;" href="javascript:;">商品</A>
                <A class="a10 wrap" id="blogs_spacerank_tab_1" hideFocus="" onClick="blogs_spacerank_ck(1);return false;" href="javascript:;">评价</A>
                <BR class="clear"/>
            </DIV>
            <DIV class="md-body" style="margin-top: 0px;">
                <DIV id="blogs_spacerank_0" >
                    <div class="i_zxme">
                        <div class="i_zxmel">
                            <!--左侧分类处-->
                            <div class="i_zxmelc">
                                <div class="i_zxmelc1">
                                    <ul>
                                        <span th:each="category,iterStat:${categorys}">
                                            <li th:id="'two'+${iterStat.count}" onclick="change(this)" th:value="${iterStat.count}"  class="hover">
                                                <span th:text="${category.categoryname}"></span>
                                            </li>
                                        </span>
                                    </ul>
                                </div>
                                <!--i_zxmelc1-->

                                <div class="i_zxmelc3">
                                    <span th:each="category,iterStat:${categorys}">
                                             <div th:id="'con_two_'+${iterStat.count}" style="display: none;">
                                            <div class="i_zxmelc3d">
                                                <span th:each="product:${category.products}">
                                                <div class="shops">
                                                    <!--商品详情处-->
                                                        <div style="margin-right: 2px"><img style="height: 100px;width: 90px" th:src="${product.path}"/></div>
                                                        <div style="width:73px;display: flex;display: -webkit-flex;flex-flow: column nowrap">
                                                            <input th:id="'productid'+${iterStat.count}+${product.productname}" type="hidden" th:value="${product.id}"/>
                                                            <div><span style="font-size: 0.7em;" th:text="${product.productname}"></span></div>
                                                            <div><span style="font-size: 0.3em;color: darkgrey" th:text="${product.description}"></span></div>
                                                            <div style="margin-top: 10px"><span style="font-size: 1em;color: red" th:text="'￥'+${product.price}"></span></div>
                                                            <div ><span style="font-size: 0.1em;color: darkgrey;" th:text="'库存:'+${product.store}"></span></div>
                                                        </div>
                                                    <!--加减图标处-->
                                                        <div style="display: flex;display: -webkit-flex;flex-flow:row nowrap;align-self: flex-start;padding-bottom: 20px;margin-top: 50px">
                                                                <div th:id="${iterStat.count}+${product.productname}" onclick="sub(this)" class="sub"><img  src="/img/supermarket/1.png"/></div>
                                                                <input type="hidden" th:id="'price'+${iterStat.count}+${product.productname}" th:value="${product.price}"/>
                                                                <div style="height: 20px;width: 20px;margin-left: 14px;margin-top: 6px">
                                                                    <span name="shownum" th:id="'shownum'+${iterStat.count}+${product.productname}">0</span>
                                                                </div>
                                                                <div th:id="${iterStat.count}+${product.productname}" onclick="plus(this)" class="plus"><img  src="/img/supermarket/2.png"/></div>
                                                        </div>

                                                </div>
                                                </span>

                                            </div>
                                        </div>
                                    </span>
                                    <!--con_one5_1-->
                                </div>
                                <!--i_zxmelc3-->
                            </div>
                            <!--i_zxmelc-->
                        </div>
                        <!--i_zxmel-->
                    </div>
                    <!--i_zxme全局-->
                    <!--前往购物车处-->
                    <div class="floor">
                        <div class="shopcarpic"><img src="/img/supermarket/购物车.png"/></div>
                        <div class="shopcarinfo">
                            <div>
                                <p  style="font-size: 2em;color: white"><span>￥</span><span id="smallcount"></span></p>
                                <p  style="font-size: 0.7em;color: white"><span>当前购物车有</span><span id="count"></span><span >件商品</span></p>
                            </div>
                            <div onclick="shopcar()" class="toshopcardiv"><span class="toshopcar">前往购物车</span></div>
                        </div>
                    </div>
                </DIV>
                <DIV id="blogs_spacerank_1" style="DISPLAY: none;">
                    <table border="0" width="100%">
                        <tr>
                            <th rowspan="2" style="background-color: yellow;">图片</th>
                            <th align="left">名字</th>
                            <th align="right">评论时间</th>
                        </tr>
                        <tr>
                            <th align="left">评论内容</th>
                            <th>null</th>
                        </tr>
                    </table>
                </DIV>
            </DIV>
        </DIV>
    </div>
</div>

</body>
<script src="/jquery-3.1.1.min.js"></script>
<script src="/js/market.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    //小计
    var smallcount=0;
    //单个商品数量
    var number;
    //点减号触发的函数
    function sub(t){
        var id=$(t).attr("id");
        var price=parseFloat($("#price"+id).val());
        var productid=$("#productid"+id).val();
        snumber=$("#shownum"+id).text();
        number=parseInt(snumber);
        if(number>0){
            number=number-1;
            smallcount=smallcount-price;
            $("#shownum"+id).text(number);
            getproductid(productid,number);
        }else{
            number=0;
            if(smallcount<=0){
                smallcount=0
            }else{
                if(number==0){
                    smallcount=smallcount-0;
                }else{
                    smallcount=smallcount-price
                }
            }
            $("#shownum"+id).text(number);
        }
        $("#smallcount").text(smallcount)
        count();
    }
    //点加号实现的方法
    function plus(t){
        var p;
        var id=$(t).attr("id");
        snumber=$("#shownum"+id).text();
        var price=parseFloat($("#price"+id).val());
        var productid=$("#productid"+id).val();
        number=parseInt(snumber);
        if(number>=10){
            number=10;
            $("#shownum"+id).text(number);
            getproductid(productid,number);
            alert("一次不能超过十件")
        }else{
            number=number+1;
            smallcount=smallcount+price;
            $("#shownum"+id).text(number);
            getproductid(productid,number);
        }
        $("#smallcount").text(smallcount)
        count();
    }


    function count(){
        var count=0;
        var shownum=$("[name='shownum']");
        for(var i=0;i<shownum.length;i++){
            var t=$(shownum[i]).text()
            if(parseInt(t)>0){
                count=count+1
            }
        }
        $("#count").text(count)
    }
    var getproductids=new Array();

    //获得商品id与购买数量放入getproductids数组中
    function getproductid(p,n){
        var json={productid:0,productcount:0}
        if(n==0){
            for(var i=0;i<getproductids.length;i++){
                if(p==getproductids[i].productid){
                    getproductids.splice(i,1);
                    break;
                }
            }
        }else{
            if(getproductids.length>0){
                var flagp=0;
                var flagc=0;
                //看数组里是否有相同的procuctid
                for(var i=0;i<getproductids.length;i++){
                    if(p==getproductids[i].productid){
                        getproductids[i].productcount=n;
                        flagp=1;
                        break;
                    }
                }

                if(flagp==0){
                    json['productid']=p;
                    json['productcount']=n;
                    getproductids.push(json);
                }
            }else{
                json['productid']=p;
                json['productcount']=n;
                getproductids.push(json);
            }

        }
    }


    //点击购物车按钮获得商品数据
    function shopcar(){
        var jj=JSON.stringify(getproductids);
        $.ajax({
            url:"/market/shopcaritems",
            data:jj,
            type:"post",
            contentType:"application/json",
            success:function(data){
                var html="";
                for(var i=0;i<data.shopcaritems.length;i++){
                    html= html+ "<div>"+
                            "<span>"+data.shopcaritems[i].productname+"</span>"+
                            "<span>"+data.shopcaritems[i].producttotalprice+"</span>"+
                            "<span>"+data.shopcaritems[i].productcount+"</span>"+
                            "<span  class='sub'><img  src='/img/supermarket/1.png'/></span>"+
                            "<span class='plus' ><img  src='/img/supermarket/2.png'/></span>"+
                            "</div>"
                }
                html=html+
                        "<div class='floor1'>"+
                            "<div class='shopcarinfo'>"+
                                "<div class='shopcarpic'><img src='/img/supermarket/购物车.png'/></div>"+
                                "<div>"+
                                    "<p  style='font-size: 2em;color: white'><span>￥</span><span id='smallcount'></span></p>"+
                                    "<p  style='font-size: 0.7em;color: white'><span>当前购物车有</span><span id='count'></span><span >件商品</span></p>"+
                                "</div>"+
                                "<div  class='toshopcardiv'><span class='shopcar'>结算订单</span></div>"+
                            "</div>"
                        "</div>"
                $(".center").html(html)
            },
            dataType:"json",

        })

    }
    /*]]>*/
</script>
</html>
